header {
     background-image: url("../img/pattern.png");
    background-color: #2784fedb;   
    background-size: auto 370px ;
    
    padding: 100px 10px 10px
    

    ;
}

#logo-img {
    height: 50px;

}
.text-blue {
    color: #29b6f6;
}

.text-gray {
    color: #706f6f;
}
#titolo-h1 {
    font-size: 50px;
}
 

#text-gray {
    color: #706f6f;
    font-size: xx-small;
    height: 10px;

}
#credenziali {
    font-size: xx-small;
}

.yellow-text {
    background-color: yellow;
}
.th-text {
    padding: 0px 130px 0px 0px;
    background-color: #29b6f6;
    color: white;
    
}
.light-blue {
    background-color: rgba(0, 255, 255, 0.42);
}